@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700|Lato:300,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/* #2980b9; */
/* #3498db; */
/* line 50, style.scss */
.paginate {
  font-size: 11px;
  padding-right: 0;
  padding-left: 0;
  margin-top: 15px; }
  /* line 55, style.scss */
  .paginate .current {
    font-weight: 700; }
  /* line 56, style.scss */
  .paginate span, .paginate a {
    margin-left: 5px; }
  /* line 57, style.scss */
  .paginate.videos {
    margin-bottom: 15px;
    margin-top: 5px; }

/* line 60, style.scss */
html, html a {
  -webkit-font-smoothing: antialiased; }

/* line 61, style.scss */
img.skype_pnh_logo_img {
  display: none !important; }

/* line 64, style.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", sans-serif; }

/* line 65, style.scss */
blockquote {
  border-left: 5px solid #31bbf0;
  background: #eef8fa; }

/* line 70, style.scss */
a.twitter:before, a.email:before, a.tel:before, a.lync:before {
  font-family: FontAwesome;
  margin-right: 0.2em; }
/* line 74, style.scss */
a.twitter:before {
  content: "\f099"; }
/* line 75, style.scss */
a.email:before {
  content: "\f0e0"; }
/* line 76, style.scss */
a.tel:before {
  content: "\f095"; }
/* line 77, style.scss */
a.lync:before {
  content: "\f0c0"; }

/* line 80, style.scss */
legend {
  border-bottom: #33b1e1 1px solid; }

/* line 83, style.scss */
.WhBorder {
  border-left: solid 1px #fff;
  border-left: solid 1px rgba(255, 255, 255, 0.3); }

/* line 88, style.scss */
.tags {
  margin-top: 5px; }
  /* line 90, style.scss */
  .tags a {
    font-size: 10px;
    background-color: #31bbf0;
    color: #fff;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 3px;
    padding-bottom: 2px;
    padding-top: 0px;
    white-space: nowrap;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    behavior: url(PIE.htc); }
    /* line 101, style.scss */
    .tags a:hover {
      background: #009dd9; }
  /* line 105, style.scss */
  .tags:before {
    font-family: FontAwesome;
    content: "\f02c ";
    margin-right: 0.5em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6; }

/* line 114, style.scss */
a:hover {
  text-decoration: none; }

/* line 115, style.scss */
body {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-family: "Open Sans", sans-serif; }

/* line 121, style.scss */
#RLHead {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-top: 30px;
  background: #009dd9;
  color: #fff;
  position: relative; }
  /* line 129, style.scss */
  #RLHead .logo {
    margin-bottom: 40px; }
  /* line 130, style.scss */
  #RLHead #Contacts a {
    white-space: nowrap;
    font-size: 18px;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    text-decoration: none;
    padding-left: 15px;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    /* line 138, style.scss */
    #RLHead #Contacts a:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  /* line 142, style.scss */
  #RLHead div:not(:first-child) {
    text-align: right; }
  /* line 143, style.scss */
  #RLHead #Strap {
    font-family: "Ubuntu", sans-serif;
    font-size: 38px;
    font-weight: 300; }
    /* line 147, style.scss */
    #RLHead #Strap > span {
      font-weight: 700; }
  /* line 152, style.scss */
  #RLHead #search {
    position: absolute;
    bottom: 15px;
    right: 0; }
  /* line 157, style.scss */
  #RLHead #search form {
    margin-bottom: 0; }

/* line 160, style.scss */
#RLNav {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  background-color: #33b1e1;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  z-index: 1 !important; }
  /* line 168, style.scss */
  #RLNav .selected {
    background-color: #009dd9; }
  /* line 170, style.scss */
  #RLNav ul#NavBar {
    display: table;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0; }
    /* line 176, style.scss */
    #RLNav ul#NavBar > li > a:after {
      font-family: FontAwesome;
      content: '\F0D7';
      padding-left: 10px; }
    /* line 178, style.scss */
    #RLNav ul#NavBar > li > ul > li > a:after {
      font-family: FontAwesome;
      content: '\F0DA';
      padding-left: 10px;
      /*caret down*/ }
    /* line 180, style.scss */
    #RLNav ul#NavBar li > a:only-child:after {
      font-family: FontAwesome;
      content: '';
      padding-left: 0; }
    /* line 183, style.scss */
    #RLNav ul#NavBar > li:hover > ul {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      top: 40px; }
    /* line 187, style.scss */
    #RLNav ul#NavBar > li {
      cursor: default;
      white-space: nowrap; }
      /* line 190, style.scss */
      #RLNav ul#NavBar > li > a {
        text-align: center; }
      /* line 191, style.scss */
      #RLNav ul#NavBar > li:first-child a {
        padding-right: 5px;
        padding-left: 0; }
      /* line 195, style.scss */
      #RLNav ul#NavBar > li:last-child a {
        padding-right: 0;
        padding-left: 5; }
      /* line 199, style.scss */
      #RLNav ul#NavBar > li:hover {
        background-color: #31bbf0;
        -webkit-transition: all 0.4s ease;
        -webkit-transition-delay: 0s;
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
    /* line 204, style.scss */
    #RLNav ul#NavBar > li:hover > ul {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      top: 40px; }
    /* line 208, style.scss */
    #RLNav ul#NavBar li {
      position: relative;
      list-style-type: none;
      padding: 0;
      display: table-cell; }
      /* line 213, style.scss */
      #RLNav ul#NavBar li a {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        color: #fff;
        text-decoration: none;
        padding-right: 5px;
        padding-left: 5px; }
      /* line 222, style.scss */
      #RLNav ul#NavBar li ul {
        display: block;
        z-index: 100;
        padding-left: 0;
        position: absolute;
        left: 0;
        top: -99999px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
        background: #31bbf0;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        behavior: url(PIE.htc);
        -webkit-transition: opacity 0.7s ease;
        -webkit-transition-delay: 0.1s;
        -moz-transition: opacity 0.7s ease 0.1s;
        -o-transition: opacity 0.7s ease 0.1s;
        transition: opacity 0.7s ease 0.1s; }
        /* line 234, style.scss */
        #RLNav ul#NavBar li ul li:hover ul {
          overflow: auto;
          top: 0;
          left: 100%; }
      /* line 236, style.scss */
      #RLNav ul#NavBar li ul li {
        display: block;
        padding: 0;
        text-align: left;
        padding-left: 15px;
        white-space: nowrap;
        padding-right: 15px;
        -webkit-transition: opacity 0.7s ease;
        -webkit-transition-delay: 0.1s;
        -moz-transition: opacity 0.7s ease 0.1s;
        -o-transition: opacity 0.7s ease 0.1s;
        transition: opacity 0.7s ease 0.1s; }
        /* line 244, style.scss */
        #RLNav ul#NavBar li ul li:last-child {
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          -ms-border-radius: 0 0 5px 5px;
          -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }
        /* line 247, style.scss */
        #RLNav ul#NavBar li ul li:hover {
          background-color: #33b1e1; }
        /* line 248, style.scss */
        #RLNav ul#NavBar li ul li:hover:last-child {
          background-color: #33b1e1; }
        /* line 251, style.scss */
        #RLNav ul#NavBar li ul li.selected {
          background-color: #009dd9; }
      /* line 253, style.scss */
      #RLNav ul#NavBar li ul li:last-child a {
        border: none; }

/* line 259, style.scss */
#RLMain {
  margin-left: 0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  z-index: 0 !important; }

/* line 268, style.scss */
#RLBody {
  border-right: solid #33b1e1 1px; }
  /* line 270, style.scss */
  #RLBody.fullwidth {
    border-right: 0; }

/* line 273, style.scss */
#RLFoot {
  font-weight: 600;
  margin-left: 0;
  margin-right: 0;
  background: #33b1e1;
  color: #fff;
  padding-top: 20px;
  font-size: 11px;
  position: relative;
  padding-bottom: 25px; }
  /* line 274, style.scss */
  #RLFoot .em {
    font-weight: 600; }
  /* line 284, style.scss */
  #RLFoot a {
    border-bottom: #33b1e1 1px solid; }
  /* line 287, style.scss */
  #RLFoot a:hover {
    border-bottom: solid 1px #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3); }
  /* line 291, style.scss */
  #RLFoot #copy {
    text-align: center;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
    opacity: 0.75; }
    /* line 298, style.scss */
    #RLFoot #copy a {
      color: #fff;
      font-weight: 700; }
  /* line 303, style.scss */
  #RLFoot ul {
    padding: 0;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none; }
    /* line 309, style.scss */
    #RLFoot ul li {
      font-weight: 300;
      text-align: left;
      padding-top: 5px;
      white-space: nowrap;
      padding-bottom: 2px; }
      /* line 315, style.scss */
      #RLFoot ul li ul {
        padding-left: 10px; }
    /* line 317, style.scss */
    #RLFoot ul a {
      padding-bottom: 1px;
      display: block;
      color: #fff; }

/* line 325, style.scss */
#RLSearchInput {
  background: url(/media/search-white.png) no-repeat 10px 8px #33b1e1;
  border: 0 none;
  font: bold 12px;
  color: #fff;
  width: 170px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  behavior: url(PIE.htc);
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  /* line 335, style.scss */
  #RLSearchInput::-webkit-input-placeholder {
    color: #eee; }
  /* line 336, style.scss */
  #RLSearchInput:focus {
    background: url(/media/search-dark.png) no-repeat 10px 8px #fcfcfc;
    color: #6a6f75;
    width: 320px;
    outline: none; }
    /* line 337, style.scss */
    #RLSearchInput:focus::-webkit-input-placeholder {
      color: #bbb; }

/* line 347, style.scss */
.BlueBoxCont {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 200px;
  position: relative;
  cursor: pointer; }
  /* line 354, style.scss */
  .BlueBoxCont a {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 363, style.scss */
  .BlueBoxCont:hover .front {
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  /* line 368, style.scss */
  .BlueBoxCont:hover .back {
    z-index: 2;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg); }

/* line 374, style.scss */
.BlueBoxContent {
  text-align: center;
  display: table-cell;
  color: #fff;
  height: 200px; }

/* line 381, style.scss */
.BlueBox {
  font-size: 26px;
  display: table;
  background-color: #33b1e1;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  behavior: url(PIE.htc);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; }
  /* line 396, style.scss */
  .BlueBox.front i {
    font-size: 60px;
    margin-bottom: 8px; }
  /* line 400, style.scss */
  .BlueBox.front {
    font-family: "Ubuntu", sans-serif;
    z-index: 2; }
    /* line 403, style.scss */
    .BlueBox.front .BlueBoxContent {
      vertical-align: middle; }
  /* line 405, style.scss */
  .BlueBox.back {
    z-index: 1;
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    font-size: 14px; }
    /* line 406, style.scss */
    .BlueBox.back .BlueBoxContent {
      vertical-align: top; }

/* line 417, style.scss */
.BlueBoxTitle {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  border-bottom: 1px solid #fff;
  font-size: 26px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-family: "Ubuntu", sans-serif; }

/* line 428, style.scss */
.BlueBoxDesc {
  margin-left: 40px;
  margin-right: 40px;
  text-align: left; }

/* line 436, style.scss */
.HomeProjects.News,
.HomeProjects.Soon {
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  behavior: url(PIE.htc);
  border: #33b1e1 1px solid; }
  /* line 441, style.scss */
  .HomeProjects.News p > a,
  .HomeProjects.Soon p > a {
    color: #333; }
    /* line 443, style.scss */
    .HomeProjects.News p > a:hover,
    .HomeProjects.Soon p > a:hover {
      color: #33b1e1; }
  /* line 445, style.scss */
  .HomeProjects.News .foot,
  .HomeProjects.Soon .foot {
    text-align: right;
    border-top: #33b1e1 1px solid;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    padding-top: 8px;
    margin-bottom: 8px;
    font-family: "Ubuntu", sans-serif; }
  /* line 457, style.scss */
  .HomeProjects.News .title,
  .HomeProjects.Soon .title {
    border-bottom: #33b1e1 1px solid;
    font-size: 26px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-family: "Ubuntu", sans-serif; }
  /* line 467, style.scss */
  .HomeProjects.News p,
  .HomeProjects.Soon p {
    padding-left: 35px;
    padding-right: 15px;
    padding-bottom: 10px; }
    /* line 471, style.scss */
    .HomeProjects.News p:before,
    .HomeProjects.Soon p:before {
      font-family: FontAwesome;
      position: absolute;
      left: 15px;
      color: #33b1e1; }

/* line 480, style.scss */
.News p:before {
  content: "\f058"; }

/* line 481, style.scss */
.Soon p:before {
  content: "\f192"; }

/* line 483, style.scss */
.SideChunk {
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  position: relative; }
  /* line 488, style.scss */
  .SideChunk:last-child {
    padding-bottom: 0; }
  /* line 489, style.scss */
  .SideChunk a:hover > .title {
    background: #009dd9; }
  /* line 490, style.scss */
  .SideChunk p {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px; }
  /* line 495, style.scss */
  .SideChunk .title {
    width: 100%;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    background-color: #33b1e1;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    font-family: "Ubuntu", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px; }
  /* line 507, style.scss */
  .SideChunk .img {
    width: 100%;
    margin-bottom: 5px; }

/* line 513, style.scss */
.RLIndex {
  border-bottom: 1px solid #009dd9;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0; }
  /* line 514, style.scss */
  .RLIndex.first {
    padding-top: 0px;
    margin-top: 0px; }
    /* line 515, style.scss */
    .RLIndex.first .title {
      font-size: 38px;
      border-bottom: #33b1e1 1px solid; }
    /* line 519, style.scss */
    .RLIndex.first .info {
      margin-bottom: 11px; }
  /* line 530, style.scss */
  .RLIndex.first .title {
    padding-left: 0;
    padding-right: 0; }
  /* line 534, style.scss */
  .RLIndex.first .info {
    padding: 0; }
  /* line 535, style.scss */
  .RLIndex:first-child {
    padding-left: 0;
    padding-right: 0; }
  /* line 540, style.scss */
  .RLIndex:not(:first-child) .info {
    font-size: 10px; }
  /* line 541, style.scss */
  .RLIndex:not(:first-child) .content {
    font-size: 12px; }
  /* line 543, style.scss */
  .RLIndex .img {
    width: 100%; }
  /* line 546, style.scss */
  .RLIndex .image {
    padding-left: 0;
    padding-right: 0; }
  /* line 547, style.scss */
  .RLIndex .title {
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500; }
  /* line 552, style.scss */
  .RLIndex .info {
    margin-bottom: 10px; }

/* line 558, style.scss */
#RLPostName {
  font-family: "Ubuntu", sans-serif;
  font-size: 38px;
  font-weight: 500;
  border-bottom: #33b1e1 1px solid; }
  /* line 563, style.scss */
  #RLPostName.title {
    padding: 0; }
    /* line 565, style.scss */
    #RLPostName.title.aboutus {
      margin-bottom: 15px; }

/* line 568, style.scss */
.RLPost.info {
  padding: 0;
  margin-bottom: 15px; }

/* line 569, style.scss */
#RLPostContent {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
  border-bottom: #33b1e1 solid 1px;
  padding-left: 0;
  padding-right: 0;
  line-height: 1.8em; }
  /* line 570, style.scss */
  #RLPostContent.guide li {
    margin-bottom: 15px; }
    /* line 570, style.scss */
    #RLPostContent.guide li > ol {
      margin-top: 15px;
      list-style-type: lower-alpha; }
  /* line 579, style.scss */
  #RLPostContent p {
    margin-bottom: 20px; }
  /* line 580, style.scss */
  #RLPostContent .img {
    width: 100%;
    margin-bottom: 15px; }
  /* line 584, style.scss */
  #RLPostContent .tags {
    margin-bottom: 15px; }
    /* line 585, style.scss */
    #RLPostContent .tags a {
      line-height: 1em;
      font-size: 12px;
      margin-right: 5px; }

/* line 594, style.scss */
.RLMoreContent a:hover > .title {
  background: #009dd9; }
/* line 595, style.scss */
.RLMoreContent p {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px; }
/* line 600, style.scss */
.RLMoreContent .title {
  width: 100%;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  background-color: #33b1e1;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-family: "Ubuntu", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px; }
/* line 612, style.scss */
.RLMoreContent .img {
  width: 100%; }

/* line 617, style.scss */
.RLKeyContacts {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: #33b1e1 1px solid; }
  /* line 623, style.scss */
  .RLKeyContacts .name, .RLKeyContacts .position {
    color: #fff;
    font-size: 18px;
    background-color: #33b1e1;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    font-family: "Ubuntu", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px; }
    /* line 631, style.scss */
    .RLKeyContacts .name a, .RLKeyContacts .position a {
      font-size: 14px;
      color: #fff; }
  /* line 636, style.scss */
  .RLKeyContacts .name {
    font-weight: 700; }
  /* line 637, style.scss */
  .RLKeyContacts .image {
    padding-left: 0;
    padding-right: 0; }
  /* line 641, style.scss */
  .RLKeyContacts .img {
    width: 100%; }
  /* line 642, style.scss */
  .RLKeyContacts .bio {
    margin-top: 5px; }
  /* line 643, style.scss */
  .RLKeyContacts .contact {
    margin-top: 5px; }
    /* line 645, style.scss */
    .RLKeyContacts .contact a:not(:first-child) {
      margin-left: 25px; }

/* line 651, style.scss */
#RLProjects, #RLHowToContainer {
  border-bottom: #33b1e1 1px solid; }
  /* line 653, style.scss */
  #RLProjects > div, #RLHowToContainer > div {
    margin-bottom: 30px; }
  /* line 655, style.scss */
  #RLProjects .name, #RLHowToContainer .name {
    color: #fff;
    font-size: 18px;
    background-color: #33b1e1;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    font-family: "Ubuntu", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700; }
    /* line 664, style.scss */
    #RLProjects .name a, #RLHowToContainer .name a {
      color: #fff; }
  /* line 666, style.scss */
  #RLProjects .logo, #RLHowToContainer .logo {
    padding: 0; }
  /* line 667, style.scss */
  #RLProjects .img, #RLHowToContainer .img {
    width: 100%; }
  /* line 668, style.scss */
  #RLProjects .excerpt, #RLHowToContainer .excerpt {
    margin-top: 5px; }

/* line 673, style.scss */
#CategoryChunk {
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  position: relative; }
  /* line 679, style.scss */
  #CategoryChunk .title {
    padding-left: 0;
    padding-right: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 38px;
    font-weight: 300;
    border-bottom: #33b1e1 1px solid; }
  /* line 687, style.scss */
  #CategoryChunk .info {
    padding: 0; }
  /* line 688, style.scss */
  #CategoryChunk .body {
    margin-top: 15px; }
    /* line 690, style.scss */
    #CategoryChunk .body p {
      padding-left: 35px;
      padding-right: 15px;
      padding-bottom: 10px; }
      /* line 694, style.scss */
      #CategoryChunk .body p:before {
        font-family: FontAwesome;
        position: absolute;
        left: 15px;
        color: #33b1e1; }
    /* line 701, style.scss */
    #CategoryChunk .body p:last-child {
      padding-bottom: 0;
      margin-bottom: 0; }

/* line 709, style.scss */
#RLSide #CategoryChunk {
  border-bottom: #33b1e1 1px solid; }

/* line 714, style.scss */
div.directory {
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
  line-height: 2.4em;
  background-color: #eef8fa; }
  /* line 720, style.scss */
  div.directory.title {
    background-color: #31bbf0;
    color: #fff;
    font-weight: 700; }
  /* line 725, style.scss */
  div.directory.entry:nth-of-type(2n) {
    background-color: #d8eff5; }
  /* line 726, style.scss */
  div.directory:last-of-type {
    margin-bottom: 15px; }
  /* line 727, style.scss */
  div.directory.entry:hover {
    background-color: #fff; }

/* line 731, style.scss */
#RLTitleBar {
  border-bottom: #33b1e1 1px solid;
  padding-bottom: 0px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0; }
  /* line 732, style.scss */
  #RLTitleBar h2 {
    margin-top: 0;
    margin-bottom: 0; }
  /* line 744, style.scss */
  #RLTitleBar .title {
    padding-left: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 38px;
    font-weight: 500; }
  /* line 750, style.scss */
  #RLTitleBar #RLBodySearch {
    margin-top: 10px; }
  /* line 751, style.scss */
  #RLTitleBar.videos {
    margin-bottom: 0px; }

/* line 761, style.scss */
.slider {
  border: #33b1e1 1px solid;
  margin-bottom: 30px;
  position: relative;
  max-width: 727px;
  height: 408px;
  overflow: hidden; }

/* line 770, style.scss */
.slides {
  padding-left: 0px;
  height: 100%;
  /* Simple clear fix */
  overflow: hidden;
  list-style: none;
  -webkit-transition: all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1); }

/* line 779, style.scss */
.slide {
  height: 100%;
  float: left;
  clear: none;
  position: relative;
  overflow: hidden;
  width: 727px; }
  /* line 786, style.scss */
  .slide img {
    width: 727px; }
  /* line 787, style.scss */
  .slide a:hover > .description {
    background: #009dd9; }
  /* line 788, style.scss */
  .slide .description {
    width: 33%;
    background-color: #33b1e1;
    Position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    z-index: 50; }
    /* line 800, style.scss */
    .slide .description .title {
      font-size: 30px;
      font-family: "Ubuntu", sans-serif;
      border-bottom: 1px solid #fff;
      margin-bottom: 10px;
      padding-bottom: 5px; }
    /* line 807, style.scss */
    .slide .description p {
      margin-left: 10px; }

/* line 811, style.scss */
.slider-arrow {
  position: absolute;
  display: block;
  padding: 15px 20px;
  margin-bottom: -50px;
  border: 1px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  behavior: url(PIE.htc);
  color: #fff;
  text-decoration: none; }
  /* line 821, style.scss */
  .slider-arrow:hover {
    background: #fff;
    color: #ccc; }

/* line 827, style.scss */
.slider-arrow--right {
  bottom: 50%;
  right: 90px; }

/* line 828, style.scss */
.slider-arrow--left {
  bottom: 50%;
  left: 90px; }

/* line 830, style.scss */
.slider-nav {
  position: absolute;
  bottom: 20px;
  right: 25px;
  z-index: 60; }

/* line 835, style.scss */
.slider-nav__item {
  background: #fff;
  width: 16px;
  height: 16px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  border: 1px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }
  /* line 845, style.scss */
  .slider-nav__item:hover {
    background: #33b1e1; }

/* line 847, style.scss */
.slider-nav__item--current {
  background: #009dd9; }

/* line 849, style.scss */
.MenuIcon {
  color: #009dd9;
  display: none;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 0;
  font-size: 0.6em; }
  /* line 850, style.scss */
  .MenuIcon .fa-stack {
    margin-top: -0.8em; }
  /* line 858, style.scss */
  .MenuIcon:hover {
    color: #31bbf0; }

/* line 879, style.scss */
#pageslide {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  background-color: #31bbf0;
  color: #FFF;
  font-size: 14px;
  line-height: 2.5em;
  background: #33b1e1;
  color: #fff;
  font-family: "Ubuntu", sans-serif; }
  /* line 892, style.scss */
  #pageslide a {
    color: #fff; }
  /* line 896, style.scss */
  #pageslide .selected {
    background-color: #009dd9; }
  /* line 897, style.scss */
  #pageslide ul#NavBar {
    padding: 0; }
    /* line 899, style.scss */
    #pageslide ul#NavBar > li {
      cursor: pointer;
      white-space: nowrap; }
      /* line 902, style.scss */
      #pageslide ul#NavBar > li > a {
        text-align: center;
        padding-left: 0.75em; }
      /* line 906, style.scss */
      #pageslide ul#NavBar > li:hover {
        background-color: #31bbf0;
        -webkit-transition: all 0.4s ease;
        -webkit-transition-delay: 0s;
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
    /* line 912, style.scss */
    #pageslide ul#NavBar li.selected ul {
      display: block; }
    /* line 915, style.scss */
    #pageslide ul#NavBar li ul {
      display: none;
      padding: 0;
      background: #31bbf0; }
    /* line 920, style.scss */
    #pageslide ul#NavBar li ul li {
      cursor: pointer;
      padding-left: 1.5em;
      white-space: nowrap; }
      /* line 923, style.scss */
      #pageslide ul#NavBar li ul li ul {
        margin-left: -1.5em; }
        /* line 925, style.scss */
        #pageslide ul#NavBar li ul li ul li {
          cursor: pointer;
          padding-left: 2.25em;
          margin-top: 0.75em; }
      /* line 932, style.scss */
      #pageslide ul#NavBar li ul li:hover {
        background-color: #33b1e1; }
      /* line 933, style.scss */
      #pageslide ul#NavBar li ul li.selected {
        background-color: #009dd9; }

/* line 942, style.scss */
.RLVideo {
  margin-bottom: 30px; }
  /* line 943, style.scss */
  .RLVideo h4 {
    border-bottom: #33b1e1 1px solid;
    padding-bottom: 5px;
    font-family: "Ubuntu", sans-serif; }
  /* line 949, style.scss */
  .RLVideo img {
    width: 100%; }

/* line 954, style.scss */
.mfp-fade {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

/* line 955, style.scss */
.mfp-fade.mfp-bg {
  opacity: 0; }

/* line 956, style.scss */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* line 957, style.scss */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* line 958, style.scss */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0; }

/* line 959, style.scss */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* line 960, style.scss */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

/* line 962, style.scss */
#RLFeedback {
  margin: 0 auto;
  float: none; }
  /* line 965, style.scss */
  #RLFeedback .control-label, #RLFeedback .controls {
    margin-bottom: 15px; }
  /* line 966, style.scss */
  #RLFeedback button#submit {
    background-color: #31bbf0;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    /* line 970, style.scss */
    #RLFeedback button#submit:hover {
      background: #009dd9; }
  /* line 973, style.scss */
  #RLFeedback textarea {
    height: 10em; }

/* line 977, style.scss */
#RLBodySearch {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px; }
  /* line 980, style.scss */
  #RLBodySearch input {
    border: solid 1px #33b1e1; }

@media (max-width: 768px) {
  /* line 992, style.scss */
  div.container-fluid #RLNav {
    display: none; }

  /* line 993, style.scss */
  .MenuIcon {
    display: inline-block; }

  /* line 995, style.scss */
  #RLNav {
    display: none; }

  /* line 996, style.scss */
  #pageslide {
    width: 200px; }
    /* line 997, style.scss */
    #pageslide ul#NavBar li {
      display: block; }

  /* line 998, style.scss */
  .slider {
    height: 200px; }
    /* line 999, style.scss */
    .slider .slide .description {
      width: 100%;
      font-size: 12px; }
      /* line 1002, style.scss */
      .slider .slide .description .title {
        font-size: 20px; }

  /* line 1003, style.scss */
  #RLHead div:not(:first-child) {
    text-align: center; }

  /* line 1004, style.scss */
  #search {
    display: none; }

  /* line 1005, style.scss */
  #Contacts {
    margin-bottom: 15px; }

  /* line 1006, style.scss */
  #RLHead .logo {
    margin-bottom: 15px;
    text-align: center; }
    /* line 1009, style.scss */
    #RLHead .logo img {
      width: 100%;
      max-width: 500px; }

  /* line 1012, style.scss */
  #RLBody {
    border-right: 0; }

  /* line 1013, style.scss */
  .SideChunk {
    margin-bottom: 15px;
    padding-bottom: 0; }
    /* line 1016, style.scss */
    .SideChunk .image {
      display: none; }
    /* line 1017, style.scss */
    .SideChunk p {
      display: inline;
      padding: 0; }

  /* line 1022, style.scss */
  .News, .Soon {
    margin-bottom: 30px; } }
@media (max-width: 480px) {
  /* line 1032, style.scss */
  .RLMoreContent {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px; }

  /* line 1037, style.scss */
  .SideChunk {
    margin-bottom: 30px; }
    /* line 1039, style.scss */
    .SideChunk .SideChunkBody {
      padding-left: 10px;
      padding-right: 10px; }

  /* line 1044, style.scss */
  .SideChunk:last-child {
    margin-bottom: 0; }

  /* line 1045, style.scss */
  .slider {
    height: 200px; }

  /* line 1046, style.scss */
  .slide .description {
    width: 100%;
    font-size: 12px; }
    /* line 1049, style.scss */
    .slide .description .title {
      font-size: 20px; }

  /* line 1052, style.scss */
  #RLFoot #copy {
    margin: 0px;
    font-size: 8px; }

  /* line 1057, style.scss */
  div.logo img {
    width: 100%; }

  /* line 1058, style.scss */
  #RLHead {
    padding-top: 15px;
    padding-bottom: 15px; }
    /* line 1061, style.scss */
    #RLHead #Contacts a {
      font-size: 11px; }
    /* line 1064, style.scss */
    #RLHead #Strap {
      font-size: 24px; }

  /* line 1068, style.scss */
  #RLNav {
    font-size: 12px; }
    /* line 1070, style.scss */
    #RLNav .container {
      padding-left: 0;
      padding-right: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      behavior: url(PIE.htc); }
    /* line 1076, style.scss */
    #RLNav li {
      width: 100%;
      display: block !important;
      padding: 0px; }
    /* line 1081, style.scss */
    #RLNav ul#NavBar > li:hover > ul {
      top: 0px; }
    /* line 1082, style.scss */
    #RLNav ul#NavBar > li > ul {
      top: 0px;
      position: relative;
      width: 100%;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      display: block-inline; }
      /* line 1088, style.scss */
      #RLNav ul#NavBar > li > ul li {
        text-align: center;
        width: 100%;
        padding: 0; }
    /* line 1094, style.scss */
    #RLNav .column {
      padding: 0; } }
@media print {
  /* line 1105, style.scss */
  .RLKeyContacts .image {
    width: 10%;
    float: left;
    margin-right: 10px; }
  /* line 1106, style.scss */
  .RLKeyContacts .name, .RLKeyContacts .position {
    display: inline-block; }

  /* line 1109, style.scss */
  .RLIndex:not(:first-child) .image {
    display: none; }

  /* line 1111, style.scss */
  .info {
    display: inline-block; }

  /* line 1114, style.scss */
  .title a:after, .tags a:after, .info a:after, .image a:after, .paginate a:after, .contact a:after, #RLFoot a:after {
    content: none; }

  /* line 1118, style.scss */
  .directory {
    margin-bottom: 5px; }
    /* line 1119, style.scss */
    .directory div {
      display: inline-block; }
    /* line 1122, style.scss */
    .directory a:after {
      content: none; }

  /* line 1126, style.scss */
  body, .lead {
    font-size: 12px; }

  /* line 1128, style.scss */
  body {
    margin: 0;
    padding: 0;
    color: #000; }

  /* line 1133, style.scss */
  #RLFoot a, #RLPostContent, .tags {
    border: none; }

  /* line 1139, style.scss */
  #RLHead,
  .RLMoreContent,
  #RLFoot ul,
  #RLNav,
  #RLSide {
    display: none; } }
/* line 1148, style.scss */
.RLTeam {
  margin-bottom: 15px; }
  /* line 1149, style.scss */
  .RLTeam .title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-bottom: solid #33b1e1 1px; }
  /* line 1155, style.scss */
  .RLTeam p {
    margin-bottom: 10px !important; }

/* line 1161, style.scss */
.RLPageHeader {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px; }

/* line 1169, style.scss */
#RLFAQContainer {
  padding-left: 0;
  padding-right: 0; }

/* line 1172, style.scss */
.RLFAQ > div > label:before {
  padding-right: 10px;
  font-family: FontAwesome;
  content: "\f059";
  font-size: 22px;
  float: left; }
/* line 1179, style.scss */
.RLFAQ > div > article p:first-child:before {
  padding-right: 10px;
  font-family: FontAwesome;
  content: "\f05a";
  font-size: 170px;
  float: left;
  color: #009dd9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
  position: absolute;
  top: 0.3em;
  left: -10px; }

/* line 1191, style.scss */
.RLFAQ label {
  padding: 10px 20px 10px 20px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 19px;
  background: #31bbf0;
  font-weight: 400; }

/* line 1202, style.scss */
.RLFAQ label:hover {
  background: #009dd9; }

/* line 1206, style.scss */
.RLFAQ input:checked + label,
.RLFAQ input:checked + label:hover {
  background: #009dd9; }

/* line 1210, style.scss */
.RLFAQ label:hover:after,
.RLFAQ input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px; }

/* line 1218, style.scss */
.RLFAQ input {
  display: none; }

/* line 1221, style.scss */
.RLFAQ article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  background: #eef8fa;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear; }

/* line 1231, style.scss */
.RLFAQ article p {
  line-height: 2em;
  padding: 20px; }

/* line 1235, style.scss */
.RLFAQ input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear; }

/* line 1238, style.scss */
.RLFAQ input:checked ~ article.ac-small {
  height: 140px; }

/* line 1241, style.scss */
.RLFAQ input:checked ~ article.ac-medium {
  height: 180px; }

/* line 1244, style.scss */
.RLFAQ input:checked ~ article.ac-large {
  height: 230px; }
