@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700|Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700|Lato:300,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/* #2980b9; */
/* #3498db; */
/* line 29, style.scss */
.RLKeyContacts a {
  white-space: nowrap; }

/* line 31, style.scss */
.paginate {
  font-size: 11px;
  padding-right: 0;
  padding-left: 0;
  margin-top: 15px; }
  /* line 36, style.scss */
  .paginate .current {
    font-weight: 700; }
  /* line 37, style.scss */
  .paginate span, .paginate a {
    margin-left: 5px; }
  /* line 38, style.scss */
  .paginate.videos {
    margin-bottom: 15px;
    margin-top: 5px; }

/* line 41, style.scss */
html, html a {
  -webkit-font-smoothing: antialiased; }

/* line 42, style.scss */
img.skype_pnh_logo_img {
  display: none !important; }

/* line 45, style.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", sans-serif; }

/* line 46, style.scss */
blockquote {
  border-left: 5px solid #31bbf0;
  background: #eef8fa; }

/* line 51, style.scss */
a.twitter:before, a.email:before, a.tel:before, a.lync:before {
  font-family: FontAwesome;
  margin-right: 0.2em; }
/* line 55, style.scss */
a.twitter:before {
  content: "\f099"; }
/* line 56, style.scss */
a.email:before {
  content: "\f0e0"; }
/* line 57, style.scss */
a.tel:before {
  content: "\f095"; }
/* line 58, style.scss */
a.lync:before {
  content: "\f0c0"; }

/* line 60, style.scss */
legend {
  border-bottom: #33b1e1 1px solid; }

/* line 63, style.scss */
.WhBorder {
  border-left: solid 1px #fff;
  border-left: solid 1px rgba(255, 255, 255, 0.3); }

/* line 68, style.scss */
.tags {
  margin-top: 5px; }
  /* line 70, style.scss */
  .tags a {
    font-size: 10px;
    background-color: #31bbf0;
    color: #fff;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 3px;
    padding-bottom: 2px;
    padding-top: 0px;
    white-space: nowrap;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    behavior: url(PIE.htc); }
    /* line 81, style.scss */
    .tags a:hover {
      background: #009dd9; }
  /* line 85, style.scss */
  .tags:before {
    font-family: FontAwesome;
    content: "\f02c ";
    margin-right: 0.5em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6; }

/* line 94, style.scss */
a:hover {
  text-decoration: none; }

/* line 95, style.scss */
body {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-family: "Open Sans", sans-serif;
  background: #009dd9; }

/* line 102, style.scss */
#RLHead {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  padding-top: 30px;
  background: #009dd9;
  color: #fff;
  position: relative; }
  /* line 110, style.scss */
  #RLHead .logo {
    margin-bottom: 40px; }
    /* line 110, style.scss */
    #RLHead .logo img {
      width: 100%;
      max-width: 500px; }
  /* line 111, style.scss */
  #RLHead #Contacts a {
    white-space: nowrap;
    font-size: 18px;
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    text-decoration: none;
    padding-left: 15px;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    /* line 119, style.scss */
    #RLHead #Contacts a:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1; }
  /* line 123, style.scss */
  #RLHead div:not(:first-child) {
    text-align: right; }
  /* line 124, style.scss */
  #RLHead #Strap {
    font-family: "Ubuntu", sans-serif;
    font-size: 38px;
    font-weight: 300; }
    /* line 128, style.scss */
    #RLHead #Strap > span {
      font-weight: 700; }
  /* line 133, style.scss */
  #RLHead #search {
    position: absolute;
    bottom: 15px;
    right: 0; }
  /* line 138, style.scss */
  #RLHead #search form {
    margin-bottom: 0; }

/* line 141, style.scss */
#RLNav {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  background-color: #fff;
  border-bottom: #33b1e1 1px solid;
  color: #33b1e1;
  font-family: "Ubuntu", sans-serif;
  z-index: 1 !important; }
  /* line 150, style.scss */
  #RLNav .selected {
    background-color: #009dd9; }
  /* line 152, style.scss */
  #RLNav ul#NavBar {
    display: table;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0; }
    /* line 158, style.scss */
    #RLNav ul#NavBar > li > a:after {
      font-family: FontAwesome;
      content: '\F0D7';
      padding-left: 10px; }
    /* line 160, style.scss */
    #RLNav ul#NavBar > li > ul > li > a:after {
      font-family: FontAwesome;
      content: '\F0DA';
      padding-left: 10px;
      /*caret down*/ }
    /* line 162, style.scss */
    #RLNav ul#NavBar li > a:only-child:after {
      font-family: FontAwesome;
      content: '';
      padding-left: 0; }
    /* line 165, style.scss */
    #RLNav ul#NavBar > li:hover > ul {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      top: 40px; }
    /* line 169, style.scss */
    #RLNav ul#NavBar > li {
      cursor: default;
      white-space: nowrap; }
      /* line 172, style.scss */
      #RLNav ul#NavBar > li > a {
        text-align: center; }
      /* line 173, style.scss */
      #RLNav ul#NavBar > li:first-child a {
        padding-right: 5px;
        padding-left: 0; }
      /* line 177, style.scss */
      #RLNav ul#NavBar > li:last-child a {
        padding-right: 0;
        padding-left: 5; }
      /* line 181, style.scss */
      #RLNav ul#NavBar > li:hover {
        background-color: #009dd9;
        -webkit-transition: all 0.4s ease;
        -webkit-transition-delay: 0s;
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
        /* line 182, style.scss */
        #RLNav ul#NavBar > li:hover > a {
          color: #fff; }
    /* line 187, style.scss */
    #RLNav ul#NavBar > li:hover > ul {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      top: 43px; }
    /* line 191, style.scss */
    #RLNav ul#NavBar li {
      position: relative;
      list-style-type: none;
      padding: 0;
      display: table-cell; }
      /* line 196, style.scss */
      #RLNav ul#NavBar li a {
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        color: #009dd9;
        text-decoration: none;
        padding-right: 5px;
        padding-left: 5px; }
      /* line 205, style.scss */
      #RLNav ul#NavBar li ul {
        border: #33b1e1 1px solid;
        border-top: none;
        display: block;
        z-index: 100;
        padding-left: 0;
        position: absolute;
        left: 0;
        top: -99999px;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
        background: #fff;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
        behavior: url(PIE.htc);
        -webkit-transition: opacity 0.7s ease;
        -webkit-transition-delay: 0.1s;
        -moz-transition: opacity 0.7s ease 0.1s;
        -o-transition: opacity 0.7s ease 0.1s;
        transition: opacity 0.7s ease 0.1s; }
        /* line 219, style.scss */
        #RLNav ul#NavBar li ul li:hover ul {
          overflow: auto;
          top: 0;
          left: 100%; }
      /* line 221, style.scss */
      #RLNav ul#NavBar li ul li {
        display: block;
        padding: 0;
        text-align: left;
        padding-left: 15px;
        white-space: nowrap;
        padding-right: 15px;
        -webkit-transition: opacity 0.7s ease;
        -webkit-transition-delay: 0.1s;
        -moz-transition: opacity 0.7s ease 0.1s;
        -o-transition: opacity 0.7s ease 0.1s;
        transition: opacity 0.7s ease 0.1s; }
        /* line 229, style.scss */
        #RLNav ul#NavBar li ul li:last-child {
          -webkit-border-radius: 0 0 5px 5px;
          -moz-border-radius: 0 0 5px 5px;
          -ms-border-radius: 0 0 5px 5px;
          -o-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }
        /* line 232, style.scss */
        #RLNav ul#NavBar li ul li:hover {
          background-color: #009dd9;
          -webkit-transition: all 0.4s ease;
          -webkit-transition-delay: 0s;
          -moz-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s; }
          /* line 233, style.scss */
          #RLNav ul#NavBar li ul li:hover > a {
            color: #fff; }
        /* line 237, style.scss */
        #RLNav ul#NavBar li ul li.selected {
          background-color: #009dd9; }
      /* line 239, style.scss */
      #RLNav ul#NavBar li ul li:last-child a {
        border: none; }
      /* line 240, style.scss */
      #RLNav ul#NavBar li ul li ul {
        border-top: #33b1e1 1px solid;
        -webkit-border-radius: 0 5px 5px 5px;
        -moz-border-radius: 0 5px 5px 5px;
        -ms-border-radius: 0 5px 5px 5px;
        -o-border-radius: 0 5px 5px 5px;
        border-radius: 0 5px 5px 5px; }

/* line 248, style.scss */
#RLMain {
  background: #fff;
  margin-left: 0;
  margin-right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  z-index: 0 !important; }

/* line 258, style.scss */
#RLBody {
  border-right: solid #33b1e1 1px; }
  /* line 260, style.scss */
  #RLBody.fullwidth {
    border-right: 0; }

/* line 263, style.scss */
#RLFoot {
  font-weight: 600;
  margin-left: 0;
  margin-right: 0;
  background: #009dd9;
  color: #fff;
  padding-top: 20px;
  font-size: 11px;
  position: relative;
  padding-bottom: 25px; }
  /* line 264, style.scss */
  #RLFoot .em {
    font-weight: 600; }
  /* line 274, style.scss */
  #RLFoot a {
    border-bottom: #33b1e1 1px solid; }
  /* line 277, style.scss */
  #RLFoot a:hover {
    border-bottom: solid 1px #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.3); }
  /* line 281, style.scss */
  #RLFoot #copy {
    text-align: center;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
    opacity: 0.85; }
    /* line 288, style.scss */
    #RLFoot #copy a {
      color: #fff;
      font-weight: 700; }
  /* line 293, style.scss */
  #RLFoot ul {
    padding: 0;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none; }
    /* line 299, style.scss */
    #RLFoot ul li {
      font-weight: 400;
      text-align: left;
      padding-top: 5px;
      white-space: nowrap;
      padding-bottom: 2px; }
      /* line 305, style.scss */
      #RLFoot ul li ul {
        padding-left: 10px; }
    /* line 307, style.scss */
    #RLFoot ul a {
      padding-bottom: 1px;
      display: block;
      color: #fff; }

/* line 315, style.scss */
#RLSearchInput {
  background: url(/media/search-white.png) no-repeat 10px 8px #33b1e1;
  border: 0 none;
  font: bold 12px;
  color: #fff;
  width: 170px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  behavior: url(PIE.htc);
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  /* line 325, style.scss */
  #RLSearchInput::-webkit-input-placeholder {
    color: #eee; }
  /* line 326, style.scss */
  #RLSearchInput:focus {
    background: url(/media/search-dark.png) no-repeat 10px 8px #fcfcfc;
    color: #6a6f75;
    width: 320px;
    outline: none; }
    /* line 327, style.scss */
    #RLSearchInput:focus::-webkit-input-placeholder {
      color: #bbb; }

/* line 337, style.scss */
.BlueBoxCont {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  height: 200px;
  position: relative;
  cursor: pointer; }
  /* line 345, style.scss */
  .BlueBoxCont a {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 354, style.scss */
  .BlueBoxCont:hover .front {
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  /* line 359, style.scss */
  .BlueBoxCont:hover .back {
    z-index: 2;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg); }

/* line 365, style.scss */
.BlueBoxContent {
  text-align: center;
  display: table-cell;
  color: #fff;
  height: 200px; }

/* line 372, style.scss */
.front .BlueBoxContent {
  border: 1px solid #009dd9;
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  font-weight: 700;
  color: #009dd9; }

/* line 382, style.scss */
.BlueBox {
  font-size: 26px;
  display: table;
  background-color: #009dd9;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  behavior: url(PIE.htc);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; }
  /* line 400, style.scss */
  .BlueBox.software {
    background: url(/media/software.jpg) no-repeat; }
  /* line 401, style.scss */
  .BlueBox.it {
    background: url(/media/it.jpg) no-repeat; }
  /* line 402, style.scss */
  .BlueBox.mobile {
    background: url(/media/mobile.jpg) no-repeat; }
  /* line 403, style.scss */
  .BlueBox.other {
    background: url(/media/other.jpg) no-repeat; }
  /* line 406, style.scss */
  .BlueBox.it, .BlueBox.software, .BlueBox.other, .BlueBox.mobile, .BlueBox.support-index {
    background-size: 100%; }
    /* line 409, style.scss */
    .BlueBox.it .BlueBoxContent, .BlueBox.software .BlueBoxContent, .BlueBox.other .BlueBoxContent, .BlueBox.mobile .BlueBoxContent, .BlueBox.support-index .BlueBoxContent {
      background-color: #fff;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
      font-weight: 700;
      color: #333; }
    /* line 416, style.scss */
    .BlueBox.it.software .BlueBoxContent, .BlueBox.it.it .BlueBoxContent, .BlueBox.it.mobile .BlueBoxContent, .BlueBox.it.other .BlueBoxContent, .BlueBox.software.software .BlueBoxContent, .BlueBox.software.it .BlueBoxContent, .BlueBox.software.mobile .BlueBoxContent, .BlueBox.software.other .BlueBoxContent, .BlueBox.other.software .BlueBoxContent, .BlueBox.other.it .BlueBoxContent, .BlueBox.other.mobile .BlueBoxContent, .BlueBox.other.other .BlueBoxContent, .BlueBox.mobile.software .BlueBoxContent, .BlueBox.mobile.it .BlueBoxContent, .BlueBox.mobile.mobile .BlueBoxContent, .BlueBox.mobile.other .BlueBoxContent, .BlueBox.support-index.software .BlueBoxContent, .BlueBox.support-index.it .BlueBoxContent, .BlueBox.support-index.mobile .BlueBoxContent, .BlueBox.support-index.other .BlueBoxContent {
      background-color: rgba(255, 255, 255, 0.7); }
  /* line 423, style.scss */
  .BlueBox.support-index .BlueBoxContent {
    color: #009dd9; }
  /* line 431, style.scss */
  .BlueBox.front i {
    font-size: 60px;
    margin-bottom: 8px; }
  /* line 435, style.scss */
  .BlueBox.front {
    font-family: "Ubuntu", sans-serif;
    z-index: 2; }
    /* line 438, style.scss */
    .BlueBox.front .BlueBoxContent {
      vertical-align: middle; }
  /* line 440, style.scss */
  .BlueBox.back {
    z-index: 1;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    font-size: 14px; }
    /* line 441, style.scss */
    .BlueBox.back .BlueBoxContent {
      vertical-align: top; }

/* line 449, style.scss */
.BlueBoxTitle {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  border-bottom: 1px solid #fff;
  font-size: 26px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-family: "Ubuntu", sans-serif; }

/* line 460, style.scss */
.BlueBoxDesc {
  margin-left: 40px;
  margin-right: 40px;
  text-align: left; }

/* line 467, style.scss */
.HomeProjects.News,
.HomeProjects.Soon {
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  behavior: url(PIE.htc);
  border: #33b1e1 1px solid; }
  /* line 472, style.scss */
  .HomeProjects.News p > a,
  .HomeProjects.Soon p > a {
    color: #333; }
    /* line 474, style.scss */
    .HomeProjects.News p > a:hover,
    .HomeProjects.Soon p > a:hover {
      color: #33b1e1; }
  /* line 476, style.scss */
  .HomeProjects.News .foot,
  .HomeProjects.Soon .foot {
    text-align: right;
    border-top: #33b1e1 1px solid;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    padding-top: 8px;
    margin-bottom: 8px;
    font-family: "Ubuntu", sans-serif; }
  /* line 488, style.scss */
  .HomeProjects.News .title,
  .HomeProjects.Soon .title {
    border-bottom: #33b1e1 1px solid;
    font-size: 26px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-family: "Ubuntu", sans-serif; }
  /* line 498, style.scss */
  .HomeProjects.News p,
  .HomeProjects.Soon p {
    padding-left: 35px;
    padding-right: 15px;
    padding-bottom: 10px; }
    /* line 502, style.scss */
    .HomeProjects.News p:before,
    .HomeProjects.Soon p:before {
      font-family: FontAwesome;
      position: absolute;
      left: 15px;
      color: #33b1e1; }

/* line 512, style.scss */
.SideChunk {
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  position: relative; }
  /* line 517, style.scss */
  .SideChunk:last-child {
    padding-bottom: 0; }
  /* line 518, style.scss */
  .SideChunk a:hover > .title {
    background: #33b1e1; }
  /* line 519, style.scss */
  .SideChunk p {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px; }
  /* line 524, style.scss */
  .SideChunk .title {
    width: 100%;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    background-color: #009dd9;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    font-family: "Ubuntu", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px; }
  /* line 536, style.scss */
  .SideChunk .img {
    width: 100%;
    margin-bottom: 5px; }

/* line 542, style.scss */
.RLIndex {
  border-bottom: 1px solid #009dd9;
  padding-bottom: 15px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0; }
  /* line 543, style.scss */
  .RLIndex.first {
    padding-top: 0px;
    margin-top: 0px; }
    /* line 544, style.scss */
    .RLIndex.first .title {
      font-size: 38px;
      border-bottom: #33b1e1 1px solid; }
    /* line 548, style.scss */
    .RLIndex.first .info {
      margin-bottom: 11px; }
  /* line 559, style.scss */
  .RLIndex.first .title {
    padding-left: 0;
    padding-right: 0; }
  /* line 563, style.scss */
  .RLIndex.first .info {
    padding: 0; }
  /* line 564, style.scss */
  .RLIndex:first-child {
    padding-left: 0;
    padding-right: 0; }
  /* line 569, style.scss */
  .RLIndex:not(:first-child) .info {
    font-size: 10px; }
  /* line 570, style.scss */
  .RLIndex:not(:first-child) .content {
    font-size: 12px; }
  /* line 572, style.scss */
  .RLIndex .img {
    width: 100%; }
  /* line 575, style.scss */
  .RLIndex .image {
    padding-left: 0;
    padding-right: 0; }
  /* line 576, style.scss */
  .RLIndex .title {
    font-size: 24px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500; }
  /* line 581, style.scss */
  .RLIndex .info {
    margin-bottom: 10px; }

/* line 587, style.scss */
#RLPostName {
  font-family: "Ubuntu", sans-serif;
  font-size: 38px;
  font-weight: 500;
  border-bottom: #33b1e1 1px solid; }
  /* line 592, style.scss */
  #RLPostName.title {
    padding: 0; }
    /* line 594, style.scss */
    #RLPostName.title.aboutus {
      margin-bottom: 15px; }

/* line 597, style.scss */
.RLPost.info {
  padding: 0;
  margin-bottom: 15px; }

/* line 598, style.scss */
#RLPostContent {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
  border-bottom: #33b1e1 solid 1px;
  padding-left: 0;
  padding-right: 0;
  line-height: 1.8em; }
  /* line 599, style.scss */
  #RLPostContent.guide li {
    margin-bottom: 15px; }
    /* line 599, style.scss */
    #RLPostContent.guide li > ol {
      margin-top: 15px;
      list-style-type: lower-alpha; }
  /* line 608, style.scss */
  #RLPostContent.project {
    border-bottom: none;
    margin-bottom: 0; }
  /* line 612, style.scss */
  #RLPostContent p {
    margin-bottom: 20px; }
  /* line 613, style.scss */
  #RLPostContent .img {
    width: 50%;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px; }
  /* line 619, style.scss */
  #RLPostContent .tags {
    margin-bottom: 15px; }
    /* line 620, style.scss */
    #RLPostContent .tags a {
      line-height: 1em;
      font-size: 12px;
      margin-right: 5px; }

/* line 629, style.scss */
.RLMoreContent a:hover > .title {
  background: #009dd9; }
/* line 630, style.scss */
.RLMoreContent p {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px; }
/* line 635, style.scss */
.RLMoreContent .title {
  width: 100%;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  background-color: #33b1e1;
  -webkit-transition: all 0.4s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  font-family: "Ubuntu", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px; }
/* line 647, style.scss */
.RLMoreContent .img {
  width: 100%; }

/* line 652, style.scss */
.RLKeyContacts {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: #33b1e1 1px solid; }
  /* line 658, style.scss */
  .RLKeyContacts .name, .RLKeyContacts .position {
    color: #fff;
    font-size: 18px;
    background-color: #33b1e1;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    font-family: "Ubuntu", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px; }
    /* line 666, style.scss */
    .RLKeyContacts .name a, .RLKeyContacts .position a {
      font-size: 14px;
      color: #fff; }
  /* line 671, style.scss */
  .RLKeyContacts .name {
    font-weight: 700; }
  /* line 672, style.scss */
  .RLKeyContacts .image {
    padding-left: 0;
    padding-right: 0; }
  /* line 676, style.scss */
  .RLKeyContacts .img {
    width: 100%; }
  /* line 677, style.scss */
  .RLKeyContacts .bio {
    margin-top: 5px; }
  /* line 678, style.scss */
  .RLKeyContacts .contact {
    margin-top: 5px; }
    /* line 680, style.scss */
    .RLKeyContacts .contact a:not(:first-child) {
      margin-left: 25px; }

/* line 686, style.scss */
#RLProjects, #RLHowToContainer {
  border-bottom: #33b1e1 1px solid; }
  /* line 688, style.scss */
  #RLProjects > div, #RLHowToContainer > div {
    margin-bottom: 30px; }
  /* line 690, style.scss */
  #RLProjects .name, #RLHowToContainer .name {
    color: #fff;
    font-size: 18px;
    background-color: #33b1e1;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    font-family: "Ubuntu", sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 700; }
    /* line 699, style.scss */
    #RLProjects .name a, #RLHowToContainer .name a {
      color: #fff; }
  /* line 701, style.scss */
  #RLProjects .logo, #RLHowToContainer .logo {
    padding: 0; }
  /* line 702, style.scss */
  #RLProjects .img, #RLHowToContainer .img {
    width: 100%; }
  /* line 703, style.scss */
  #RLProjects .excerpt, #RLHowToContainer .excerpt {
    margin-top: 5px; }

/* line 705, style.scss */
.project-icons {
  margin-top: 15px; }

/* line 708, style.scss */
.CategoryChunk {
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  position: relative; }
  /* line 709, style.scss */
  .CategoryChunk.News p:before {
    content: "\f058"; }
  /* line 710, style.scss */
  .CategoryChunk.Soon p:before {
    content: "\f192"; }
  /* line 711, style.scss */
  .CategoryChunk.Videos p:before {
    content: "\f008"; }
  /* line 712, style.scss */
  .CategoryChunk.HowTos p:before {
    content: "\f05a"; }
  /* line 713, style.scss */
  .CategoryChunk.FAQ p:before {
    content: "\f05a"; }
  /* line 719, style.scss */
  .CategoryChunk .title {
    padding-left: 0;
    padding-right: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 38px;
    font-weight: 300;
    border-bottom: #33b1e1 1px solid; }
  /* line 727, style.scss */
  .CategoryChunk .info {
    padding: 0; }
  /* line 728, style.scss */
  .CategoryChunk .body {
    margin-top: 15px; }
    /* line 730, style.scss */
    .CategoryChunk .body p {
      padding-left: 35px;
      padding-right: 15px;
      padding-bottom: 10px; }
      /* line 734, style.scss */
      .CategoryChunk .body p:before {
        font-family: FontAwesome;
        position: absolute;
        left: 15px;
        color: #33b1e1; }
    /* line 741, style.scss */
    .CategoryChunk .body p:last-child {
      padding-bottom: 0;
      margin-bottom: 0; }

/* line 749, style.scss */
#RLSide #CategoryChunk {
  border-bottom: #33b1e1 1px solid; }

/* line 754, style.scss */
div.directory {
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
  line-height: 2.4em;
  background-color: #eef8fa; }
  /* line 760, style.scss */
  div.directory.title {
    background-color: #31bbf0;
    color: #fff;
    font-weight: 700; }
  /* line 765, style.scss */
  div.directory.entry:nth-of-type(2n) {
    background-color: #d8eff5; }
  /* line 766, style.scss */
  div.directory:last-of-type {
    margin-bottom: 15px; }
  /* line 767, style.scss */
  div.directory.entry:hover {
    background-color: #fff; }

/* line 771, style.scss */
#RLTitleBar {
  border-bottom: #33b1e1 1px solid;
  padding-bottom: 0px;
  margin-bottom: 15px;
  padding-left: 0;
  padding-right: 0; }
  /* line 772, style.scss */
  #RLTitleBar h2 {
    margin-top: 0;
    margin-bottom: 0; }
  /* line 784, style.scss */
  #RLTitleBar .title {
    padding-left: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 38px;
    font-weight: 500; }
  /* line 790, style.scss */
  #RLTitleBar #RLBodySearch {
    margin-top: 10px; }
  /* line 791, style.scss */
  #RLTitleBar.videos {
    margin-bottom: 0px; }

/* line 801, style.scss */
.slider {
  border: #33b1e1 1px solid;
  margin-bottom: 30px;
  position: relative;
  max-width: 727px;
  height: 408px;
  overflow: hidden; }

/* line 810, style.scss */
.slides {
  padding-left: 0px;
  height: 100%;
  /* Simple clear fix */
  overflow: hidden;
  list-style: none;
  -webkit-transition: all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 1000ms cubic-bezier(0.165, 0.84, 0.44, 1); }

/* line 819, style.scss */
.slide {
  height: 100%;
  float: left;
  clear: none;
  position: relative;
  overflow: hidden;
  width: 727px; }
  /* line 826, style.scss */
  .slide img {
    width: 727px; }
  /* line 827, style.scss */
  .slide a:hover > .description {
    background: #33b1e1; }
  /* line 828, style.scss */
  .slide .description {
    width: 33%;
    background-color: #009dd9;
    Position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    color: #fff;
    padding: 20px;
    font-size: 18px;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    z-index: 50; }
    /* line 840, style.scss */
    .slide .description .title {
      font-size: 30px;
      font-family: "Ubuntu", sans-serif;
      border-bottom: 1px solid #fff;
      margin-bottom: 10px;
      padding-bottom: 5px; }
    /* line 847, style.scss */
    .slide .description p {
      margin-left: 10px; }

/* line 851, style.scss */
.slider-arrow {
  position: absolute;
  display: block;
  padding: 15px 20px;
  margin-bottom: -50px;
  border: 1px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  behavior: url(PIE.htc);
  color: #fff;
  text-decoration: none; }
  /* line 861, style.scss */
  .slider-arrow:hover {
    background: #fff;
    color: #ccc; }

/* line 867, style.scss */
.slider-arrow--right {
  bottom: 50%;
  right: 90px; }

/* line 868, style.scss */
.slider-arrow--left {
  bottom: 50%;
  left: 90px; }

/* line 870, style.scss */
.slider-nav {
  position: absolute;
  bottom: 20px;
  right: 25px;
  z-index: 60; }

/* line 875, style.scss */
.slider-nav__item {
  background: #fff;
  width: 16px;
  height: 16px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  border: 1px solid #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px; }
  /* line 885, style.scss */
  .slider-nav__item:hover {
    background: #33b1e1; }

/* line 887, style.scss */
.slider-nav__item--current {
  background: #009dd9; }

/* line 889, style.scss */
.MenuIcon {
  color: #009dd9;
  display: none;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  border: 0;
  font-size: 0.6em; }
  /* line 890, style.scss */
  .MenuIcon .fa-stack {
    margin-top: -0.8em; }
  /* line 898, style.scss */
  .MenuIcon:hover {
    color: #31bbf0; }

/* line 904, style.scss */
.twitter-follow-button {
  margin-top: 30px; }

/* line 919, style.scss */
#pageslide {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  background-color: #31bbf0;
  color: #FFF;
  font-size: 14px;
  line-height: 2.5em;
  background: #33b1e1;
  color: #fff;
  font-family: "Ubuntu", sans-serif; }
  /* line 932, style.scss */
  #pageslide a {
    color: #fff; }
  /* line 936, style.scss */
  #pageslide .selected {
    background-color: #009dd9; }
  /* line 937, style.scss */
  #pageslide ul#NavBar {
    padding: 0; }
    /* line 939, style.scss */
    #pageslide ul#NavBar > li {
      cursor: pointer;
      white-space: nowrap; }
      /* line 942, style.scss */
      #pageslide ul#NavBar > li > a {
        text-align: center;
        padding-left: 0.75em; }
      /* line 946, style.scss */
      #pageslide ul#NavBar > li:hover {
        background-color: #31bbf0;
        -webkit-transition: all 0.4s ease;
        -webkit-transition-delay: 0s;
        -moz-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s; }
    /* line 952, style.scss */
    #pageslide ul#NavBar li.selected ul {
      display: block; }
    /* line 955, style.scss */
    #pageslide ul#NavBar li ul {
      display: none;
      padding: 0;
      background: #31bbf0; }
    /* line 960, style.scss */
    #pageslide ul#NavBar li ul li {
      cursor: pointer;
      padding-left: 1.5em;
      white-space: nowrap; }
      /* line 963, style.scss */
      #pageslide ul#NavBar li ul li ul {
        margin-left: -1.5em; }
        /* line 965, style.scss */
        #pageslide ul#NavBar li ul li ul li {
          cursor: pointer;
          padding-left: 2.25em;
          margin-top: 0.75em; }
      /* line 972, style.scss */
      #pageslide ul#NavBar li ul li:hover {
        background-color: #33b1e1; }
      /* line 973, style.scss */
      #pageslide ul#NavBar li ul li.selected {
        background-color: #009dd9; }

/* line 982, style.scss */
.RLVideo {
  margin-bottom: 30px; }
  /* line 983, style.scss */
  .RLVideo h4 {
    border-bottom: #33b1e1 1px solid;
    padding-bottom: 5px;
    font-family: "Ubuntu", sans-serif; }
  /* line 989, style.scss */
  .RLVideo img {
    width: 100%; }

/* line 994, style.scss */
.mfp-fade {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

/* line 995, style.scss */
.mfp-fade.mfp-bg {
  opacity: 0; }

/* line 996, style.scss */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* line 997, style.scss */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* line 998, style.scss */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0; }

/* line 999, style.scss */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* line 1000, style.scss */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

/* line 1002, style.scss */
#RLFeedback {
  margin: 0 auto;
  float: none; }
  /* line 1005, style.scss */
  #RLFeedback .control-label, #RLFeedback .controls {
    margin-bottom: 15px; }
  /* line 1006, style.scss */
  #RLFeedback button#submit {
    background-color: #31bbf0;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    -webkit-transition: all 0.4s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
    /* line 1010, style.scss */
    #RLFeedback button#submit:hover {
      background: #009dd9; }
  /* line 1013, style.scss */
  #RLFeedback textarea {
    height: 10em; }

/* line 1017, style.scss */
#RLBodySearch {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px; }
  /* line 1020, style.scss */
  #RLBodySearch input {
    border: solid 1px #33b1e1; }

@media (max-width: 1200px) {
  /* line 1027, style.scss */
  #RLHead .logo {
    margin-bottom: 80px; } }
@media (max-width: 768px) {
  /* line 1039, style.scss */
  #RLHead .logo {
    margin-bottom: 40px; }

  /* line 1042, style.scss */
  div.container-fluid #RLNav {
    display: none; }

  /* line 1043, style.scss */
  .MenuIcon {
    display: inline-block; }

  /* line 1045, style.scss */
  #RLNav {
    display: none; }

  /* line 1046, style.scss */
  #pageslide {
    width: 200px; }
    /* line 1047, style.scss */
    #pageslide ul#NavBar li {
      display: block; }

  /* line 1048, style.scss */
  .slider {
    height: 200px; }
    /* line 1049, style.scss */
    .slider .slide .description {
      width: 100%;
      font-size: 12px; }
      /* line 1052, style.scss */
      .slider .slide .description .title {
        font-size: 20px; }

  /* line 1053, style.scss */
  #RLHead div:not(:first-child) {
    text-align: center; }

  /* line 1054, style.scss */
  #search {
    display: none; }

  /* line 1055, style.scss */
  #Contacts {
    margin-bottom: 15px; }

  /* line 1056, style.scss */
  #RLHead .logo {
    margin-bottom: 15px;
    text-align: center; }
    /* line 1059, style.scss */
    #RLHead .logo img {
      width: 100%;
      max-width: 500px; }

  /* line 1062, style.scss */
  #RLBody {
    border-right: 0; }

  /* line 1063, style.scss */
  .SideChunk {
    margin-bottom: 15px;
    padding-bottom: 0; }
    /* line 1066, style.scss */
    .SideChunk .image {
      display: none; }
    /* line 1067, style.scss */
    .SideChunk p {
      display: inline;
      padding: 0; }

  /* line 1072, style.scss */
  .News, .Soon {
    margin-bottom: 30px; } }
@media (max-width: 480px) {
  /* line 1082, style.scss */
  .RLMoreContent {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px; }

  /* line 1087, style.scss */
  .SideChunk {
    margin-bottom: 30px; }
    /* line 1089, style.scss */
    .SideChunk .SideChunkBody {
      padding-left: 10px;
      padding-right: 10px; }

  /* line 1094, style.scss */
  .SideChunk:last-child {
    margin-bottom: 0; }

  /* line 1095, style.scss */
  .slider {
    height: 200px; }

  /* line 1096, style.scss */
  .slide .description {
    width: 100%;
    font-size: 12px; }
    /* line 1099, style.scss */
    .slide .description .title {
      font-size: 20px; }

  /* line 1102, style.scss */
  #RLFoot #copy {
    margin: 0px;
    font-size: 8px; }

  /* line 1107, style.scss */
  div.logo img {
    width: 100%; }

  /* line 1108, style.scss */
  #RLHead {
    padding-top: 15px;
    padding-bottom: 15px; }
    /* line 1111, style.scss */
    #RLHead #Contacts a {
      font-size: 11px; }
    /* line 1114, style.scss */
    #RLHead #Strap {
      font-size: 24px; }

  /* line 1118, style.scss */
  #RLNav {
    font-size: 12px; }
    /* line 1120, style.scss */
    #RLNav .container {
      padding-left: 0;
      padding-right: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      behavior: url(PIE.htc); }
    /* line 1126, style.scss */
    #RLNav li {
      width: 100%;
      display: block !important;
      padding: 0px; }
    /* line 1131, style.scss */
    #RLNav ul#NavBar > li:hover > ul {
      top: 0px; }
    /* line 1132, style.scss */
    #RLNav ul#NavBar > li > ul {
      top: 0px;
      position: relative;
      width: 100%;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      display: block-inline; }
      /* line 1138, style.scss */
      #RLNav ul#NavBar > li > ul li {
        text-align: center;
        width: 100%;
        padding: 0; }
    /* line 1144, style.scss */
    #RLNav .column {
      padding: 0; } }
@media print {
  /* line 1155, style.scss */
  .RLKeyContacts .image {
    width: 10%;
    float: left;
    margin-right: 10px; }
  /* line 1156, style.scss */
  .RLKeyContacts .name, .RLKeyContacts .position {
    display: inline-block; }

  /* line 1159, style.scss */
  .RLIndex:not(:first-child) .image {
    display: none; }

  /* line 1161, style.scss */
  .info {
    display: inline-block; }

  /* line 1164, style.scss */
  .title a:after, .tags a:after, .info a:after, .image a:after, .paginate a:after, .contact a:after, #RLFoot a:after {
    content: none; }

  /* line 1168, style.scss */
  .directory {
    margin-bottom: 5px; }
    /* line 1169, style.scss */
    .directory div {
      display: inline-block; }
    /* line 1172, style.scss */
    .directory a:after {
      content: none; }

  /* line 1176, style.scss */
  body, .lead {
    font-size: 12px; }

  /* line 1178, style.scss */
  body {
    margin: 0;
    padding: 0;
    color: #000; }

  /* line 1183, style.scss */
  #RLFoot a, #RLPostContent, .tags {
    border: none; }

  /* line 1189, style.scss */
  #RLHead,
  .RLMoreContent,
  #RLFoot ul,
  #RLNav,
  #RLSide {
    display: none; } }
/* line 1198, style.scss */
.RLTeam {
  margin-bottom: 15px; }
  /* line 1199, style.scss */
  .RLTeam .title {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-bottom: solid #33b1e1 1px; }
  /* line 1205, style.scss */
  .RLTeam p {
    margin-bottom: 10px !important; }

/* line 1211, style.scss */
.RLPageHeader {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px; }

/* line 1219, style.scss */
#RLFAQContainer {
  padding-left: 0;
  padding-right: 0; }

/* line 1222, style.scss */
.RLFAQ > div > label:before {
  padding-right: 10px;
  font-family: FontAwesome;
  content: "\f059";
  font-size: 22px;
  float: left; }
/* line 1229, style.scss */
.RLFAQ > div > article p:first-child:before {
  padding-right: 10px;
  font-family: FontAwesome;
  content: "\f05a";
  font-size: 170px;
  float: left;
  color: #009dd9;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
  position: absolute;
  top: 0.3em;
  left: -10px; }

/* line 1241, style.scss */
.RLFAQ label {
  padding: 10px 20px 10px 20px;
  position: relative;
  z-index: 20;
  display: block;
  cursor: pointer;
  color: #fff;
  font-size: 19px;
  background: #31bbf0;
  font-weight: 400; }

/* line 1252, style.scss */
.RLFAQ label:hover {
  background: #009dd9; }

/* line 1256, style.scss */
.RLFAQ input:checked + label,
.RLFAQ input:checked + label:hover {
  background: #009dd9; }

/* line 1260, style.scss */
.RLFAQ label:hover:after,
.RLFAQ input:checked + label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px; }

/* line 1268, style.scss */
.RLFAQ input {
  display: none; }

/* line 1271, style.scss */
.RLFAQ article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  background: #eef8fa;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear; }

/* line 1281, style.scss */
.RLFAQ article p {
  line-height: 2em;
  padding: 20px; }

/* line 1285, style.scss */
.RLFAQ input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear; }

/* line 1288, style.scss */
.RLFAQ input:checked ~ article.ac-small {
  height: 140px; }

/* line 1291, style.scss */
.RLFAQ input:checked ~ article.ac-medium {
  height: 180px; }

/* line 1294, style.scss */
.RLFAQ input:checked ~ article.ac-large {
  height: 230px; }
